.hero {
    position: relative;
    background-image: url(../../assets/nathan-mullet-pmiW630yDPE-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }
  
  .hero > * {
    position: relative;
    z-index: 1; 
  }


/* .item2 {
  grid-column: 2 / span 1;
  grid-row: 1;
}

.item4 {
  grid-column: 3;
  grid-row: 1 / span 2;
} */